<h1>Virtual Scroll</h1>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="irAlInicio()">Ir al Inicio</button>
    </div>

    <div class="col text-right">
        <button class="btn btn-secondary" (click)="irAlMedio()">Ir al medio</button>
    </div>

    <div class="col text-right">
        <button class="btn btn-danger" (click)="irAlFinal()">Ir al final</button>
    </div>
</div>

<br><br>
<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">

    <div class="list-group-item" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
        Item: {{ i }} / {{ conteo }}
    </div>
</cdk-virtual-scroll-viewport>
